<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        .hello {
            margin: 0px;
        }
        .hello h1 {
            font-size: 200px;
            margin: 0px;
            padding: 0px;
        }
        .hello #main {
            margin-left: 5px;
            padding: 5px;
            font-size: 35px;
        }
        .name .name-a{
            float: left;
        }
        .name .name-b{
            margin-left: 15%;
            background: salmon;
            width: 24%;
        }
        .age .age-a {
            float: left;
        }
        .age .age-b{
            margin-left: 7%;
            background: rgb(201, 241, 149);
            width: 15%;
        }
        .npm{
            padding: 5px;
            margin-left: -5px;
        }
        .npm .npm-a{
            float: left;
            margin-left: -5px;
            padding: 5px;
        }
        .npm .npm-b{
            margin-left: 10%;
            background: rgb(245, 247, 127);
            width: 15%;
        }
        .desc{
            margin-left: 10px;
            margin-top: 10px;
            width: 50%;
        }
        a {
            color: rgb(130, 133, 136);
            text-decoration: none;
        }

        a:hover 
        {
            color:rgb(81, 174, 197); 
            text-decoration:none; 
            cursor: pointer; 
        }
        .desc #desc{
            color: rgb(130, 133, 136);
        }
        .pic img{
            float: right;
            margin-right: 50px;
            margin-top: 50px;
        }
        .socmed {
            margin-top: -100px;
        }
        .socmed img {
            float: right;
            width: 5%;
            margin-top: -70px;
            margin-right: 50px;
            padding-top: 2px;
        }
        .socmed #instagram img{
            width: 4%;
            margin-top: -120px;
            margin-right: 55px;
        }
    </style>
</head>
<body>
    
    <div class="hello">
        <h1>Hello</h1>
        <div class="name" id="main">
            <article class="name-a">my name is</article>
            <div class="name-b">{{ name }}</div>
        </div>

        <div class="age" id="main">
            <article class="age-a">I am</article>
            <div class="age-b">{{ age }} years old
        </div>

        <div class="npm">
            <article class="npm-a">NPM :</article>
            <div class="npm-b">{{ npm }}</div>
       </div>
    </div>
    <div class="desc">
        <div>
            <a href="http://www.cs.ui.ac.id/" target="blank">I study Computer Science at Universitas Indonesia</a>
        </div>
        <div>
            <a href="https://www.instagram.com/kopinugas/" target="blank">I like to make coffee and currently
            running my own brand, kopinugas</a>
        </div>
        <article id="desc">I make cheap jokes 24/7</article>
    </div>
    <div class="socmed">
        <a id="linkedin" href="https://www.linkedin.com/in/nabila-fathia-zahra-b3623114b/" target="blank">
            <img src="https://png.pngtree.com/element_our/md/20180301/md_5a982744da73b.png">
        </a>
        <a id="instagram" href="https://www.instagram.com/laladupsi/" target="blank">
            <img src="https://png.icons8.com/ios/1600/instagram-new.png">
        </a>
    </div>
    <div class="pic">
            <img src="https://media.licdn.com/dms/image/C5103AQG5q5_Dukry7g/profile-displayphoto-shrink_200_200/0?e=1541635200&v=beta&t=v2HlI4p6RRxqDh4XiGfeURzyIPydR9evL_92tPiP3RU">
        </div>
    
</body>
</html>
